.padding{
    padding: 1.5rem;
}

.w-image{
    width: 100%;
    border-radius: 2.5rem;
}

.recipe-btn{
    border: none;
    padding: 0.5rem;
    border-radius: 2.5rem;
    width: 7rem;
    height: 2.5rem;
    background-color: #D9D9D9;
    color: white;
    font-weight: 500;
}

.active {
    background-color: #53A991;
    color: #ffffff;
  }

.country{
    margin-bottom: 0.5rem;
}

.general{
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0;
    background-color: #EAEAEA;
    border-radius: 0.5rem;
}

.gap{
    gap: 1rem;
}

.show-text{
    padding-bottom: 3rem;
    text-align: justify;
}

.recipe-foto {
    width: 340px;
    height: 200px;
}

.star-rating {
    background-color: #53A991;
}