.menu-hamburguesa {
    position: relative;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .menu-list {
    position: absolute;
    left: -120px;
    background-color: #ffffff; 
    width: 180px;
    height: 200px;
  }
  

  
  /* Estilos de los elementos de menú */
  .list-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .link-style-none {
    text-decoration: none;
    color: #333;
    display:block;
    margin-bottom: 20px; 
  }
  