.menu-hamburguesa {
    position: relative;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .menu-list {
    position: absolute;
    z-index: 1;
    left: -330px;
    top: -30px;
    background-color: #ffffff;
    width: 390px;
    height: 250px;
    margin: 0;
    padding: 5rem;
    text-align: center;
  }
  
  .list-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .link-style-none {
    text-decoration: none;
    color: #333;
    display:block;
    margin-bottom: 20px; 
  }
  
  .close-icon{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 3px;
    cursor: pointer;
    font-size: 24px;
  }