.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stars {
    display: flex;
    flex-direction: row;
  }

  .star {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .orange {
    color: orange;
  }
  
  .blue {
    color: blue;
  }
  
  .textarea {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    min-height: 100px;
    width: 300px;
  }
  
  .button {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
  }