.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.recipe-card {
    width: calc(50% - 12px); 
    margin-bottom: 24px; 
    box-shadow: 0px 0px 8px rgba(114, 108, 85, 0.2);
    background-color: #fff;
    position: relative; 
}

.recipe-image {
    width: 162px;
    height: 162px;
    overflow: hidden;
    margin: 12px auto 0;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-details {
    text-align: left; 
}

.recipe-title-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.menu-icon{
    display: flex;
    padding-bottom: 7px;
}

.recipe-title {
    font-size: 1.2rem;
    margin-left: 7px;
    margin-top: 0;
    
}

.link-style-none {
    text-decoration: none;
    color: inherit;
}
