.bttn{
    /* width: 100%; */
    height: 3rem;
    padding: 0 1.5rem;
    border-style: none;
    margin-top: 2rem;
    border-radius: 0.5rem;
    color: var(--color-background);
}

.bttn.bttn-primary {
    background-color: var(--color-primary);
}

.bttn.bttn-secondary {
    background-color: var(--color-secondary);
}

.simpleW{
    width: 7rem;
}

.dobleW{
    width: 18rem;
}