.search-map{
    width: 19.25rem;
    height: 2.68rem;
    padding: 0 1rem;
    border-radius: 0.68rem;
    border: 0.5px solid #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(187, 155, 142, 0.50);
}

.container-search-map{
    margin: 1.5rem;
    position: relative;
    text-align: center;
}

.country-list-item{
    text-align: center;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
}

.country-list{
    padding-bottom: 2rem;
    margin: 0;
}

@media (min-width: 400px) {

    .search-map {
        margin-left: 42vw;

    }

}

.btn-search{
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: white;
}

.btn-search img{
    width: 1.25rem;
}

.continent-list{
    display: flex;
    margin-top: 8%;
    justify-content:space-around;
}

.continent-list span{
    color: black;
    font-weight: 700;
    padding: 8px;
    transition: background-color 0.3s;
    border-radius: 17px;

}

.continent-list span:hover{
    color: white;
}

.search-list{
    width: 80%;
    margin: auto;
    
}

.search-list ul{    
    margin-top: 3%;
    list-style: none;
    padding-left: 40px;
}

@media (min-width: 1280px) and (min-height: 832px) {
    .container-search-map{
        margin: 4rem;
    }   

    .search-map{
        margin: 0;
        text-align: center;
        width: 35rem;
    }

    .btn-search{
        right: 22rem;
    }
}