.search-map{
    margin-top: 6vw;
    margin: center;
    margin-left: 20%;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid #D9D9D9;
    box-shadow: 0px 2px #BB9B8E;
}

.btn-search{
    align-items: center;
    border: 2px solid #D9D9D9;
    border-left:none ;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    box-shadow: 0px 2px #BB9B8E;
}

.btn-search img{
    width: 15px;
    margin-top: -3px;
}

.continent-list{
    display: flex;
    margin-top: 8%;
    justify-content:space-around;
}

.continent-list span{
    color: black;
    font-weight: 700;
    padding: 8px;
    transition: background-color 0.3s;
    border-radius: 17px;

}

.continent-list span:hover{
    color: white;
}

.search-list{
    width: 80%;
    margin: auto;
    
}

.search-list ul{    
    margin-top: 3%;
    list-style: none;
    padding-left: 40px;
}
