.view-options{
    padding: 0.5rem;
    justify-content: space-around;
    display: flex;
    background-color: #FCFAF6;
}


.view-option-btn{
    border: none;
    background: #FCFAF6;
    border-radius: 10px;
}


.view-option-btn:focus{
    color: white;
}

@media (min-width: 1080px) and (min-height: 720px) {
.view-options{
    padding: 1.5rem;
    justify-content: space-evenly;
}
}