.reg-form{
    /* width: 30%; */
    padding: 1.5rem;
    /* margin: 2rem; */
    /* border-radius: 20px; */
    /* border: 4px solid var(--yellow-light, #FBFDCE); */
    /* color: var(--color-primary) */
}


.blue-color{
    color: var(--color-text)
}

.bold{
    font-weight: 700;
}

input.form-control,
select.form-control,
textarea.form-control {
    border-radius: var(--border-radius);
    background: var(--color-background);
    box-shadow: var(--box-shadow);
    color: var(--color-text);

} 

.placeholder-size{
    font-size: 0.85rem!important;
}

.cancel{
    text-decoration: none;
    color: var(--color-background);
    text-align: center;
}

.accede{
    margin: 0.75rem;
    font-size: 0.85rem;
    text-align: center;
    color: var(--color-text);
}

.aqui{
    color: var(--color-text);
} 


/* @media (max-width: 400px){
    .reg-form{
        width: 90%;
    }
} */