.b-r{
    border-radius: 5px;
}

.input-style-1{
    border: 1px solid #676565;
}

.input-height-1{
    height: 1.75rem;
}

.input-height-2{
    height: 3.18rem;
}

.input-height-3{
    height: 6.375rem;
}

.select{
    width: 8rem;
    height: 1.31rem;
    border-radius: 10px;
    border: 1px solid #BB9B8E;
    background: #BB9B8E;  
    color: white;
    font-size: 0.9rem;
    font-weight: 500;  
    text-align: center;
}

.create-form {
    width: 80%;
}

.display-none{
    position: absolute;
    left: 2.4rem;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}
.top-40{
    top: 40rem;
}

.d-active{
    position: relative;
    display: inline-block;
}
@media (min-width: 400px) {

    .create-form {
        width: 40%;
       
    }

    .autocomplete-options {
        position: absolute;
        z-index: 1;
        border: 1px solid #ccc;
        max-height: 150px;
        overflow-y: auto;
        background-color: white;
      }
      
      .autocomplete-option {
        padding: 8px;
        cursor: pointer;
      }
      
      .autocomplete-option:hover {
        background-color: #f1f1f1;
      }
      
}    