 .ingredient-button {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    border: none;
    margin-left: 5px;
  }
  
  .ingredient-button:hover {
    background-color: #f0f0f0;
  }

  .btn-step{
    border: 2px solid #2F93A9;
  }

  @media (min-width: 400px) {

    .create-form {
        width: 40%;
       
    }
}   