 .card-header{
    font-weight: bold;
    color: #2F93A9;
 }
 .card {
    box-shadow: 0px 0px 5px #BB9B8E;
  }
  
 .ingredient-button {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    border: none;
    margin-left: 5px;
  }
  
  .ingredient-button:hover {
    background-color: #f0f0f0;
  }

  .btn-step{
    border: 2px solid #2F93A9;
  }

 