.headline-form-color{
    color: var(--color-primary);
}

.headline-form-size{
    font-size: 2rem;
}

.reg-form{
    width: 100%;
    height: 100%;
    padding: 1.75rem;
    color: var(--color-text);
}

.label-text{
    color: var(--color-primary);
}

.text{
    font-family: var(--text);
}

.input-none-style{
    border: none;
    outline: none;
}

.border-b{
    border-bottom: 1px solid black;
}

.link-none-style{
    text-decoration: none;
    color: var(--color-primary);
}

.error-text{
    color: var(--error-color);
}

.gap1{
    gap: 1rem;
}