.header-container{
    border-bottom: 1px solid #F5F5F5;
}

.header-margin {
    padding: 1.5rem;
    width: 100%;
}

.logo-header {
    width: 53px;
    height: 60.54px;
}

.login-header{
    width: 45px;
    height: 55px;
}

.menu-links{
    gap: 2rem;
}

.pointer{
    cursor: pointer;
}

@media (min-width: 1080px) and (min-height: 720px) {
    .header-margin{
        padding: 1.5rem 6rem;
    }
}