.recipe-posts{
    padding: 2.5rem 1rem 3.5rem 1rem;
    background-color: #FCFAF6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.recipe-post{
    padding: 1rem 0;
    background-color: white;
    width: 22.18rem;
    height: 26.25rem;
    border-radius: 5px;
}

.image-container {
    width: 20.93rem;
    height: 18.75rem;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .date-container{
    padding: 0.5rem 2rem;
  }

  .date-container h3{
    font-weight: 700;

  }
  
  .link-style-none{
    color: inherit;
    text-decoration: none;
  }

  @media (min-width: 1280px) and (min-height: 832px) {
  .recipe-posts{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
  }
}